# Starting with Markdown
## subtitle
Fonts: *italic*, **bold**, ***bold-italic***
- item1
- item2
- item3

# Python

In [3]:
#Comment
print("Hola!!!")

Hola!!!

### Variables & data types

In [7]:
#string
name = "xin1"

print(name)
#only in Jupyter-notebook, one can write it without 'print', i.e.
name

xin1

'xin1'

In [11]:
#integers and floats
age = 25
age
high = 1.2
high

1.2

In [ ]:
##OJO!! as you see, it only printed the last one!!

In [18]:
#boolean
knows_math = True
print(knows_math)

True

In [19]:
knows_cooking = False
knows_cooking

False

In [20]:
#if you don't know what kind of variable "name" is 
type(name)

str

In [21]:
type(knows_cooking)

bool

In [24]:
type(high)  #<-- this is not printed!!
print(type(high))

<class 'float'>

### Operations

In [25]:
1+2

3

In [26]:
1.2+3

4.2

In [27]:
3*high

3.5999999999999996

In [29]:
name+name

'xin1xin1'

In [30]:
name*3

'xin1xin1xin1'

In [37]:
name*2 + name*3 + str(10)

'xin1xin1xin1xin1xin110'

### Functions & Methods

In [43]:
#Functions: for example: print, str, int, type,...
#nameOftheFuntion(objectName)
#another one
len(name) #<-- length of name

4

In [45]:
#Methods: using the name of an object, e.g.
#objectName()
name.upper()  #<-- write it in mayusculas

'XIN1'

In [46]:
#one can create a variable/task from an method, e.g.
name_up = name.upper()
print(name_up)

XIN1

In [50]:
#another case of method is using an "argument"
#objectName(Argument)
name.count("i")  #<--count number of "i"s

1

In [51]:
name.replace("1", " with 1st accent is Heart")

'xin with 1st accent is Heart'

In [53]:
name = name.replace("1", " with 1st accent is Heart")
name

'xin with  with 1st accent is Heartst accent is Heart'

### Lists & Dictionaries

In [55]:
#List. Let's call it "names"
names = ["ai","bui","cei","doi"]
len(names)

4

In [56]:
type(names)

list

In [58]:
names[3]  #<-- third element

'doi'

In [59]:
names[-1]  #<--last element of a list

'doi'

In [60]:
names[0:2]  #<--including element [0], excluding element [2] !!

['ai', 'bui']

In [61]:
names[:2]  #<--the same, i.e. "excluding [2]" !!!

['ai', 'bui']

In [62]:
len(names[0:2])

2

In [64]:
#otra lista
names2 = [names, [1,2,3]]
names2

[['ai', 'bui', 'cei', 'doi'], [1, 2, 3]]

In [66]:
names2 = [names[0], names[1], names[2], names[3], [1,2,3]]
names2

['ai', 'bui', 'cei', 'doi', [1, 2, 3]]

In [68]:
names2[4][1]  #<--give me element[1] of the element[4] of names

2

In [69]:
#Dictionary=List of Key-value-pairs eg,
name_age = {"ana": 20, 
            "betty": 15, 
            "carla": 5,
            "diana": 40}   #<-- se puede separar con "enters"

In [70]:
#how to otain a value from such dictionary? 
name_age["ana"]

20

In [73]:
name_age = {"ana": 20, 
            "betty": 15, 
            "carla": 5,
            "diana": [40,41,43]}
name_age["diana"]

[40, 41, 43]

### for loops

In [76]:
names

['ai', 'bui', 'cei', 'doi']

In [87]:
a = 0
for ii in names:
    print(ii + " en position " + str(a)) #<-- with tab recognizes the loop tasks
    a = a+1

ai en position 0
bui en position 1
cei en position 2
doi en position 3

In [88]:
names.append("erika")  #<-- insert "erika" as new element
names

['ai', 'bui', 'cei', 'doi', 'erika']

In [93]:
#names.pop(2)  <--eliminar elemento[2]
#names.remove("erika")  <--eliminar elemento "erika"
#names.insert?  #<-- to get info/help about the method used, here "insert"

### Conditionals

In [104]:
#if statements. eg.,
temp =20
if temp>=21:
    print("hot!!")
elif temp <=15: 
    print("cold!")
else:
    print("warm")

warm

In [105]:
if (temp >15 and temp <30):
    print("in interval")

in interval

### Preparing for tomorrow

In [106]:
import os
print(os.path.abspath(os.getcwd()))

/Users/mvalencias

In [107]:
#to install programs 
#! pip install pyppeteer  <-- eg, install pyppeteer